@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  html {
    font-family: "Fira Code", monospace;
  }
}

.css-blurry-gradient-blue,
.css-blurry-gradient-green {
  filter: blur(70px);
  height: 400px;
  opacity: 0.35;
  width: 400px;
  z-index: 10;
}

.css-blurry-gradient-blue {
  background: radial-gradient(circle at 50% 50%, #4d5bce, rgba(76, 0, 255, 0));
  border-radius: 0 0 50% 50%;
  bottom: 25%;
  position: fixed;
  right: 15%;
  rotate: 10deg;
}

.css-blurry-gradient-green {
  background: radial-gradient(circle at 50% 50%, #43d9ad, rgba(76, 0, 255, 0));
  border-radius: 0 0 50% 50%;
  top: 20%;
  position: fixed;
  right: 30%;
  rotate: 10deg;
}

.home__image {
  width: 30rem;
  height: 30rem;
}

.home__image > :first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  transition: all 1s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
  }
}

@media screen and (max-width: 768px) {
  .css-blurry-gradient-green {
    top: 25%;
    right: 5%;
  }
  .css-blurry-gradient-blue {
    bottom: 5%;
  }
  .home__image {
    width: 16rem;
    height: 16rem;
    margin-bottom: 3.5rem;
  }
}
